version: '3.8'

services:
  db:
    image: mariadb:latest
    container_name: maria_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: kenneth123
      MYSQL_DATABASE: freelance_db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  backend:
    build: .
    container_name: api_backend
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app

volumes:
  db_data:
